
.back-navigation
  font-weight: bold

  &:before
    margin-right: 0.5rem
    line-height: 1rem

.course
  display: flex
  margin-top: 1rem

  @media #{$device--small}
    flex-direction: column

  &--description
    @extend %card
    padding: 2rem
    width: 100%

    @media #{$device--medium}
      padding: 2rem 1rem

    @media #{$device--small}
      padding: 1rem

  &--title
    margin-top: 0.5em

  &--details
    width: 300px
    flex-shrink: 0
    margin-left: 1rem

    @media #{$device--medium}
      width: 250px

    @media #{$device--small}
      width: 100%
      margin:
        left: 0
        top: 1rem

  &--detail
    @extend %card

    + .course--detail
      margin-top: 1rem

    ul
      list-style: none
      padding-left: 0

  &--detail-title
    color: $color--gray

.course-cta
  @extend %card
  background-color: $color--blue
  color: $color--white
  display: flex
  align-items: center
  margin:
    bottom: 1rem
    top: 1rem

  @media #{$device--small}
    display: block

  &--copy
    flex-grow: 1
    margin: 0
    font-weight: bold
    text-align: center

    @media #{$device--small}
      margin-bottom: 1rem

  &--button
    min-width: 150px
    margin-left: 1rem

    @media #{$device--small}
      margin-left: 0
      width: 100%
