
.splash
  display: flex
  align-items: center
  position: relative
  height: 80vh
  background:
    image: image-url("splash-edit.jpg")
    size: cover
    position: center
    color: $color--dark-gray

  @media #{$device--small}
    height: calc(100vh - #{$navigation--height} - 5rem)
    padding:
      top: 0
      bottom: 0

  &:after
    content: ""
    background-color: rgba(0, 0, 0, 0.6)
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

  &--copy
    position: relative
    z-index: 1
    max-width: 800px
    text-shadow: 1px 1px 1px rgba($color--black, 0.8)
    color: $color--white

  &--cta
    margin-top: $font-size--large
    text-shadow: none

    @media #{$device--small}
      width: 100%

    & > .icon--arrow-right
      margin-left: $font-size--normal / 2

.experience
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  padding:
    top: $font-size--xlarge
    bottom: $font-size--xlarge

  &--item
    text-align: center
    width: 33%
    margin:
      top: $font-size--normal
      bottom: $font-size--normal

    @media #{$device--medium}
      width: 50%

    @media #{$device--small}
      width: 100%

  &--icon
    font-size: $font-size--xlarge * 2
    color: $color--blue

  &--label
    font-weight: bold
    color: $color--gray
