
.course-partial(js-course)
  .course-partial--title-bar
    = link_to send(course_path), :class => "course-partial--title" do
      = metadata["title"]
    .course-partial--expand.icon--arrow-circle-left(js-expand title="Expand")

  .course-partial--details(js-details)
    .course-partial--inner-details
      %p= truncate content, :length => 300
      = link_to "Learn More", send(course_path), :class => "button m-blue course-partial--learn-more"
