
.footer.container
  .footer--links
    = link_to "Course Offerings", courses_path
    = link_to "About Us", courses_path

  .footer--company-information
    = link_to root_path do
      = image_tag "logos/logo-dark.svg", :class => "footer--company-logo", :rel => "Rescue Tech Health and Safety Services"
    .footer--company-address 3450 Palmer Dr. Suite 4-222
    .footer--company-address Cameron Park, CA 95682
