
.footer.container
  .footer--company-information
    = render "partials/logo"

  .footer--links
    = link_to "Course Offerings", courses_path
    = link_to "About Us", about_path


  = render "partials/social"
