
.navigation.container
  = link_to root_path do
    = image_tag "logos/logo-new.svg", :class => "navigation--logo", :rel => "Rescue Tech Health and Safety Services"

  %ul.navigation--links
    %li= link_to "Courses", courses_path
