
.navigation.container
  = render "partials/logo"

  .navigation--links
    = link_to "Courses", courses_path, :class => "navigation--link #{request.env['PATH_INFO'] == courses_path ? "s-active" : ""}"
