
.social
  = link_to "https://www.facebook.com/Rescue-Tech-587054481476526", :class => "social--link m-facebook", :target => "_blank" do
    %span.icon--facebook

  = link_to "https://twitter.com/rescuetechhss", :class => "social--link m-twitter", :target => "_blank" do
    %span.icon--twitter

  -# = link_to "https://linkedin.com/", :class => "social--link m-linkedin", :target => "_blank" do
    %span.icon--linkedin
