
$color--black:       #111111
$color--dark-gray:   #333333
$color--gray:        #ABB1B7
$color--light-gray:  #EAEAEA
$color--off-white:   #F8F8F8
$color--white:       #FFFFFF

$color--blue:        #52B9E9
$color--dark-blue:   #369ED6

$color--red:         #ED4944
$color--dark-red:    #DA3B33

$color--orange:      #F29545
$color--dark-orange: #D77C2F

$device--small:     "screen and (max-width: 768px)"
$device--medium:    "screen and (max-width: 992px)"
$device--medium:    "screen and (max-width: 1170px)"

$sans-serif: Helvetica, Arial, sans-serif
$serif: "Lora", Garamond, serif

$navigation--height: 60px

$font-size: 16px
$font-size--small:  $font-size * 0.85
$font-size--normal: $font-size * 1
$font-size--medium: $font-size * 1.2
$font-size--large:  $font-size * 1.5
$font-size--xlarge: $font-size * 2
