
$color--black:       #111111
$color--dark-gray:   #333333
$color--gray:        #a6aeb5
$color--light-gray:  #f0f2f4
$color--off-white:   #f8fafc
$color--white:       #FFFFFF

$color--blue:        #57B8E8
$color--dark-blue:   #517FC0

$color--red:         #EA5B46
$color--dark-red:    #DA3B33

$color--yellow:      #F2B457

$device--small:           "screen and (max-width: 768px)"
$device--landscape:       "(orientation: landscape) and (max-width: 768px)"
$device--medium:          "screen and (max-width: 992px)"
$device--medium:          "screen and (max-width: 1170px)"


$sans-serif: Helvetica, Arial, sans-serif
$serif: "Lora", Garamond, serif

$navigation--height: 60px

$font-size: 16px
$font-size--small:  $font-size * 0.85
$font-size--normal: $font-size
$font-size--medium: $font-size * 1.2
$font-size--large:  $font-size * 1.6
$font-size--xlarge: $font-size * 2.4
