
.footer
  background-color: $color--white
  border-top: 1px solid $color--light-gray
  padding:
    top: 1rem
    bottom: 1rem

  &--links
    margin:
      top: 0.5rem
      bottom: 2rem
    text-align: center
    font-size: 0.8rem

    > a + a
      margin-left: 1rem

  &--company-information
    text-align: center
    margin-top: 1rem

  &--company-logo
    margin-bottom: 0.5rem
    height: calc(#{ $navigation--height } - 1.5rem)

  &--company-address
    font-size: 0.8rem
    color: $color--gray
