
.navigation
  height: $navigation--height
  display: flex
  align-items: center
  justify-content: space-between
  background-color: $color--white
  position: relative
  box-shadow: 0 2px 4px rgba($color--black, 0.1)

  &--links
    font:
      weight: bold
      size: $font-size--small
    text-transform: uppercase
    letter-spacing: 0.1em

  &--link
    +transition(all 0.15s ease-in-out)
    position: relative
    display: flex
    align-items: center
    height: $navigation--height
    padding: 0 $font-size--normal
    border:
      left: 1px solid $color--off-white
      right: 1px solid $color--off-white
    color: $color--dark-gray

    &:visited
      color: $color--gray

    &:hover
      background-color: $color--off-white

    &.s-active
      color: $color--dark-gray

      &:after
        content: ""
        width: 30%
        height: 4px
        border-radius: 2px
        background-color: $color--blue
        position: absolute
        bottom: $font-size--normal / 2
        left: 0
        right: 0
        margin: auto
