
@import "base/config"
@import "base/mixins"
@import "base/fonts"
@import "base/icons"
@import "base/typography"
@import "base/buttons"
@import "base/layout"
@import "base/modals"

@import "partials/navigation"
@import "partials/footer"
@import "partials/course"
@import "partials/social"
@import "partials/logo"

@import "pages/index"
@import "pages/course"
@import "pages/about"

*, *:before, *:after
  box-sizing: inherit
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-tap-highlight-color: transparent /* For some Androids */

html
  box-sizing: border-box

body
  margin: 0
  padding: 0
  overflow-x: hidden
  background-color: $color--off-white

.wrapper
  +transition(transform 0.3s ease-out, filter 0.3s ease-out)
  min-height: 100vh
  display: flex
  flex-direction: column

  &.s-blurred
    transform: scale(0.95)
    filter: blur(25px)

.content
  flex-grow: 1
  flex-shrink: 0
