
.navigation
  height: $navigation--height
  display: flex
  align-items: center
  justify-content: space-between
  background-color: $color--white
  position: relative

  &--shadow
    $height: 10px

    position: absolute
    top: 100%
    right: 0
    left: 0
    height: $height
    overflow: hidden

    &:after
      content: ""
      position: absolute
      bottom: 100%
      right: 0
      left: 0
      height: $height
      border-radius: 100%
      box-shadow: 4px 0 8px rgba($color--black, 0.5)

  &--logo
    height: calc(#{ $navigation--height } - 1.2rem)

  &--links
    > li
      display: inline

      + li
        margin-left: 1rem
