
- content_for :title do
  About the Company

.container.about
  .card
    %h1 27 years of keeping people safe.
    %p With years of experience training, educating, and consulting with businesses on the west coast and across the greater USA, Rescue Tech has built a reputation of honesty, integrity, and professionalism.

    %p We have experience working with people from a wide variety of industries. Our professional educators and consultants have the experience and credentials to work with you to ensure that you are safe and compliant so that you can keep doing what you do best.

    %p Whether you're a utility provider, or a construction company, we pride ourselves in our excellent track record, and our commitment to quality training and consulting, no matter the industry.

    -# Services
    -# Onsite Safety Services
    -# Offsite Safety Services
    -# Program Development
    -# Nationwide Services


    -# closing
    -# Best advertising is our clients'
    -# %p We know that the best advertising is the referral of our clients to others, so we put our all into everything we do.


  .contact
    .contact--detail
      %label Email
      =link_to "info@rescuetech.training", "mailto:info@rescuetech.training", :class => "button m-blue m-wide"

    .contact--detail
      %label Phone
      =link_to "(530) 417-6211", "tel:+15304176211", :class => "button m-blue m-wide"

    .contact--detail
      %label Social
      = render "partials/social"

    .contact--detail
      %label Mailing Address
      %p
        %b Rescue Tech Health & Training Services
        %br
        %br
        %small 3450 Palmer Dr. Suite 4-222
        %br
        %small Cameron Park, CA 95682
