
- content_for :title do
  OSHA Compliance, Safety, Rescue, and More!

- content_for :description do
  TABLE allows anyone to easily access or provide know-how in minutes. Discover each other and work together, because the right people, with the right resources, can be anywhere.

- content_for :canonical_url do
  http://rescuetech.training/

.splash.container
  .splash--copy
    %h1 We help you stay safe, so you can do what you do best.
    %p We have 26 years of experience providing state of the art training, education and consulting throughout California, Neveda and the greater USA. Areas of training and consulting include OSHA compliance, Safety, Rescue, Administrative and operational services.

    = link_to courses_path, :class => "button m-blue splash--cta" do
      View Our Course Offerings
      %span.icon--arrow-right

.experience.container
  .experience--item
    .experience--icon.icon--industry-general
    .experience--label General Industry

  .experience--item
    .experience--icon.icon--industry-construction
    .experience--label Construction

  .experience--item
    .experience--icon.icon--industry-maritime
    .experience--label Maritime Industry

  .experience--item
    .experience--icon.icon--industry-utilities
    .experience--label Utilities

  .experience--item
    .experience--icon.icon--industry-wind
    .experience--label Wind Power

  .experience--item
    .experience--icon.icon--industry-oil
    .experience--label Gas & Oil

  .experience--item
    .experience--icon.icon--industry-transmission
    .experience--label Power Transmission & Distribution

  .experience--item
    .experience--icon.icon--industry-telecommunications
    .experience--label Telecommunications

  .experience--item
    .experience--icon.icon--industry-medical
    .experience--label Medical, Dental, & Health

